/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('#{$asset_url}/fonts/Poppins-Regular.ttf'); /* IE9 Compat Modes */
  src: local('Poppins Regular'), local('Poppins-Regular'),
       url('#{$asset_url}/fonts/Poppins-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
