---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting" id="main" role="article" aria-label="Content">

  {% if page.title != "" %}
    <title><img src ="https://github.com/RadicalLab/call/blob/781581d8cac526ddf7fb1870ac610662c6e667ec/assets/images/RF_CON.png" alt = "RHL Conference Header"></title>
  {% endif %}

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-meta">
    {% if page.author %}
      <div itemprop="author">{{ page.author }}</div>
    {% endif %}
    <time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
  </div>


</article>
